In [1]:
from config import user, password
from pymongo import MongoClient
import pandas as pd

url = f"mongodb+srv://{user}:{password}@bootcamp.ml0ht.mongodb.net/test"
client = MongoClient(url)
cov = client.get_database("mid_project")["covid_unprocessed"]
#cov.insert_one({"name":"Hola"})

In [2]:
covid = list(cov.find({}))
data = pd.DataFrame(data=covid)

In [3]:
print(data["Country/Region"].value_counts().to_string())

China                               34
Canada                              16
France                              12
United Kingdom                      12
Australia                            8
Netherlands                          5
Denmark                              3
New Zealand                          2
Paraguay                             1
Pakistan                             1
Saint Kitts and Nevis                1
Botswana                             1
Marshall Islands                     1
Gambia                               1
Algeria                              1
Singapore                            1
Comoros                              1
Madagascar                           1
United Arab Emirates                 1
Estonia                              1
Papua New Guinea                     1
South Africa                         1
Hungary                              1
Sao Tome and Principe                1
Slovenia                             1
Spain                                1
North Macedonia                      1
Indonesia                            1
Kazakhstan                           1
Afghanistan                          1
Cuba                                 1
Tajikistan                           1
Niger                                1
West Bank and Gaza                   1
Nigeria                              1
Malawi                               1
Monaco                               1
Turkey                               1
Germany                              1
Central African Republic             1
Senegal                              1
Zimbabwe                             1
Ghana                                1
Laos                                 1
Kosovo                               1
Tunisia                              1
Burundi                              1
Iraq                                 1
Lesotho                              1
Colombia                             1
Honduras                             1
Latvia                               1
Cabo Verde                           1
Taiwan*                              1
Vanuatu                              1
Grenada                              1
Rwanda                               1
Korea, South                         1
Uzbekistan                           1
Bosnia and Herzegovina               1
Fiji                                 1
Thailand                             1
Switzerland                          1
Timor-Leste                          1
Holy See                             1
Nepal                                1
Djibouti                             1
Serbia                               1
Guinea                               1
Morocco                              1
Israel                               1
Burma                                1
Burkina Faso                         1
Belarus                              1
Bulgaria                             1
Greece                               1
Saint Lucia                          1
Barbados                             1
Mali                                 1
Slovakia                             1
Jamaica                              1
Zambia                               1
Equatorial Guinea                    1
Mexico                               1
Belgium                              1
Guatemala                            1
Jordan                               1
Brunei                               1
Chile                                1
Bahrain                              1
Trinidad and Tobago                  1
Ukraine                              1
El Salvador                          1
Romania                              1
Angola                               1
Dominica                             1
Iceland                              1
Ecuador                              1
Georgia                              1
Panama                               1
Somalia                              1
Liberia                              1
Norway                               1
Kenya                                1
Peru                                 1
Bolivia                              1
Czechia                              1
Congo (Kinshasa)                     1
Samoa                                1
Egypt                                1
Maldives                             1
Guinea-Bissau                        1
Uganda                               1
Suriname                             1
Japan                                1
Palau                                1
Syria                                1
Vietnam                              1
Malta                                1
Austria                              1
Mauritania                           1
Seychelles                           1
Luxembourg                           1
Cote d'Ivoire                        1
Bahamas                              1
Yemen                                1
Mauritius                            1
Saint Vincent and the Grenadines     1
Bangladesh                           1
Finland                              1
Brazil                               1
MS Zaandam                           1
Libya                                1
Andorra                              1
Namibia                              1
Sierra Leone                         1
Lithuania                            1
Mongolia                             1
Gabon                                1
Malaysia                             1
Bhutan                               1
India                                1
Russia                               1
Azerbaijan                           1
Ireland                              1
San Marino                           1
Diamond Princess                     1
Eritrea                              1
Costa Rica                           1
Croatia                              1
Sudan                                1
Guyana                               1
Portugal                             1
Philippines                          1
Congo (Brazzaville)                  1
Kyrgyzstan                           1
Solomon Islands                      1
Micronesia                           1
Eswatini                             1
Haiti                                1
Summer Olympics 2020                 1
Sri Lanka                            1
Montenegro                           1
Togo                                 1
Albania                              1
Lebanon                              1
Kiribati                             1
Sweden                               1
Iran                                 1
Mozambique                           1
Belize                               1
Kuwait                               1
Ethiopia                             1
Italy                                1
Benin                                1
Dominican Republic                   1
Uruguay                              1
Antigua and Barbuda                  1
Poland                               1
US                                   1
South Sudan                          1
Chad                                 1
Venezuela                            1
Armenia                              1
Saudi Arabia                         1
Moldova                              1
Nicaragua                            1
Cambodia                             1
Cyprus                               1
Cameroon                             1
Argentina                            1
Qatar                                1
Tanzania                             1
Liechtenstein                        1
Oman                                 1

In [4]:
data.loc[data["Country/Region"] == "Australia"]

,_id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21
0,6102d96764a7a18eace650e2,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,...,20813,20837,20865,20879,20891,20903,20914,20924,20932,20939
3,6102d96764a7a18eace650e3,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,...,1038,1046,1048,1048,1048,1048,1048,1048,1050,1051
4,6102d96764a7a18eace650dc,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,...,124,124,124,124,124,124,124,124,124,124
10,6102d96764a7a18eace650e0,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,...,838,840,846,850,851,855,856,856,857,859
13,6102d96764a7a18eace650dd,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,...,7121,7233,7357,7492,7651,7792,7943,8118,8294,8531
14,6102d96764a7a18eace650df,Queensland,Australia,-27.4698,153.0251,0,0,0,0,0,...,1761,1761,1761,1764,1763,1770,1771,1770,1790,1791
20,6102d96764a7a18eace650e1,Tasmania,Australia,-42.8821,147.3272,0,0,0,0,0,...,234,234,234,234,234,234,234,234,234,234
23,6102d96764a7a18eace650de,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,...,191,191,191,191,191,192,192,192,192,197

Puesto que la idea es mostrar la evolucion de los casos durante la pandemia del covid en los diferentes paises del mundo, no necesitamos hacer uso de la columna "Province/State", por lo que tendremos que eliminarla. El problema surge cuando existen varias entradas de los diferentes provincias en referencia a un solo pais. En estos casos, tendremos que recorrer las provincias e ir sumando los casos anotados para cada día. Una vez hecho esto, podremos crear una nueva entrada la cual consistirá en los casos totales para dicho pais. Esto se repite para todos aquellos paises que aparecen multiples veces en la columna "Country/Region". Una vez arreglados los datos, podremos proceder a eliminar la columna "Province/State"

In [5]:
data_china  = {}
for column in data.columns[1::]:
    data_china[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "China"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "China"]:
            suma += int(cases)
        data_china[column] = suma

data_china['Province/State'] = "NaN"
data_china['Country/Region'] = "China"
data_china['Lat'] = 34.001006
data_china['Long'] = 102.418383

In [6]:
data_canada  = {}
for column in data.columns[1::]:
    data_canada[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "Canada"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "Canada"]:
            suma += int(cases)
        data_canada[column] = suma

data_canada['Province/State'] = "NaN"
data_canada['Country/Region'] = "Canada"
data_canada['Lat'] = 60.177982
data_canada['Long'] = -112.820609

In [7]:
data_france = {}
for column in data.columns[1::]:
    data_france[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "France"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "France"]:
            suma += int(cases)
        data_france[column] = suma

data_france['Province/State'] = "NaN"
data_france['Country/Region'] = "France"
data_france['Lat'] = 47.110497
data_france['Long'] = 2.221579

In [8]:
data_united_kingdom = {}
for column in data.columns[1::]:
    data_united_kingdom[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "United Kingdom"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "United Kingdom"]:
            suma += int(cases)
        data_united_kingdom[column] = suma

data_united_kingdom['Province/State'] = "NaN"
data_united_kingdom['Country/Region'] = "United Kingdom"
data_united_kingdom['Lat'] = 55.479263
data_united_kingdom['Long'] = -3.595208

In [9]:
data_australia = {}
for column in data.columns[1::]:
    data_australia[column] = '0'
# -25.826731, 133.410619
suma = 0
for column in data.loc[data["Country/Region"] == "Australia"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "Australia"]:
            suma += int(cases)
        data_australia[column] = suma

data_australia['Province/State'] = "NaN"
data_australia['Country/Region'] = "Australia"
#Coordenadas de un lugar aleatorio de Australia. No se busca hacer referencia a una ciudad, sino al pais en cuestion
data_australia['Lat'] = -25.826731
data_australia['Long'] = 133.410619

In [10]:
data_netherlands  = {}
for column in data.columns[1::]:
    data_netherlands[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "Netherlands"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "Netherlands"]:
            suma += int(cases)
        data_netherlands[column] = suma

data_netherlands['Province/State'] = "NaN"
data_netherlands['Country/Region'] = "Netherlands"
data_netherlands['Lat'] = 51.997394
data_netherlands['Long'] = 5.279640

In [11]:
data_denmark  = {}
for column in data.columns[1::]:
    data_denmark[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "Denmark"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "Denmark"]:
            suma += int(cases)
        data_denmark[column] = suma

data_denmark['Province/State'] = "NaN"
data_denmark['Country/Region'] = "Denmark"
data_denmark['Lat'] = 56.013783
data_denmark['Long'] = 9.531207

In [12]:
data_new_zealand = {}
for column in data.columns[1::]:
    data_new_zealand[column] = '0'

suma = 0
for column in data.loc[data["Country/Region"] == "New Zealand"]:
    if not column in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for cases in data[column].loc[data["Country/Region"] == "New Zealand"]:
            suma += int(cases)
        data_new_zealand[column] = suma

data_new_zealand['Province/State'] = "NaN"
data_new_zealand['Country/Region'] = "New Zealand"
data_new_zealand['Lat'] = -41.728542
data_new_zealand['Long'] = 173.560550

In [13]:
for country in ["Australia", "United Kingdom", "France", "Canada", "China", "Netherlands", "Denmark", "New Zealand"]:
    index = data.loc[data['Country/Region'] == country].index.values
    data = data.drop(index)

In [14]:
data = data.append(data_china, ignore_index=True)
data = data.append(data_canada, ignore_index=True)
data = data.append(data_france, ignore_index=True)
data = data.append(data_united_kingdom, ignore_index=True)
data = data.append(data_australia, ignore_index=True)
data = data.append(data_netherlands, ignore_index=True)
data = data.append(data_denmark, ignore_index=True)
data = data.append(data_new_zealand, ignore_index=True)

In [15]:
print(data["Country/Region"].value_counts().to_string())

Comoros                             1
Barbados                            1
United Arab Emirates                1
Kazakhstan                          1
Paraguay                            1
Pakistan                            1
Saint Kitts and Nevis               1
Botswana                            1
Marshall Islands                    1
Gambia                              1
Algeria                             1
Madagascar                          1
Estonia                             1
Papua New Guinea                    1
South Africa                        1
Hungary                             1
Sao Tome and Principe               1
Slovenia                            1
China                               1
North Macedonia                     1
Indonesia                           1
Latvia                              1
Honduras                            1
Cuba                                1
Tajikistan                          1
Afghanistan                         1
Germany                             1
Liberia                             1
Slovakia                            1
Panama                              1
Niger                               1
West Bank and Gaza                  1
Nigeria                             1
Malawi                              1
Monaco                              1
Turkey                              1
Central African Republic            1
Sri Lanka                           1
Senegal                             1
Zimbabwe                            1
Singapore                           1
Ghana                               1
Laos                                1
Kosovo                              1
Burundi                             1
Iraq                                1
Lesotho                             1
Taiwan*                             1
Belarus                             1
Denmark                             1
Zambia                              1
Korea, South                        1
Norway                              1
Bosnia and Herzegovina              1
Fiji                                1
Congo (Brazzaville)                 1
Switzerland                         1
Timor-Leste                         1
Vanuatu                             1
Holy See                            1
Djibouti                            1
Serbia                              1
Guyana                              1
Guinea                              1
France                              1
Morocco                             1
Jamaica                             1
Burma                               1
Burkina Faso                        1
Malaysia                            1
New Zealand                         1
Bulgaria                            1
Luxembourg                          1
Grenada                             1
Greece                              1
Ukraine                             1
Equatorial Guinea                   1
Mexico                              1
Belgium                             1
Guatemala                           1
Jordan                              1
Brunei                              1
Mali                                1
Chile                               1
Trinidad and Tobago                 1
El Salvador                         1
Seychelles                          1
Romania                             1
Spain                               1
Dominica                            1
Iceland                             1
Colombia                            1
Georgia                             1
Guinea-Bissau                       1
Saint Lucia                         1
Nepal                               1
Yemen                               1
Mozambique                          1
Belize                              1
Chad                                1
Suriname                            1
Cote d'Ivoire                       1
Kenya                               1
Peru                                1
United Kingdom                      1
Israel                              1
Czechia                             1
Congo (Kinshasa)                    1
Samoa                               1
Egypt                               1
Maldives                            1
Netherlands                         1
Uganda                              1
Japan                               1
Palau                               1
Syria                               1
Vietnam                             1
Malta                               1
Austria                             1
Mauritania                          1
Bangladesh                          1
Uzbekistan                          1
Bahamas                             1
Mongolia                            1
Ecuador                             1
Saint Vincent and the Grenadines    1
Bolivia                             1
Finland                             1
Brazil                              1
Poland                              1
MS Zaandam                          1
Libya                               1
Andorra                             1
Namibia                             1
Mauritius                           1
Diamond Princess                    1
Lithuania                           1
Gabon                               1
Tunisia                             1
Bhutan                              1
India                               1
Russia                              1
Azerbaijan                          1
Ireland                             1
San Marino                          1
Somalia                             1
Eritrea                             1
Iran                                1
Costa Rica                          1
Kuwait                              1
Dominican Republic                  1
Thailand                            1
Portugal                            1
Canada                              1
Philippines                         1
Angola                              1
Kyrgyzstan                          1
Solomon Islands                     1
Micronesia                          1
Eswatini                            1
Australia                           1
Haiti                               1
Sudan                               1
Summer Olympics 2020                1
Montenegro                          1
Togo                                1
Albania                             1
Lebanon                             1
Kiribati                            1
Sweden                              1
Ethiopia                            1
Italy                               1
Benin                               1
Venezuela                           1
Croatia                             1
Cabo Verde                          1
Uruguay                             1
Antigua and Barbuda                 1
Rwanda                              1
US                                  1
Sierra Leone                        1
South Sudan                         1
Bahrain                             1
Armenia                             1
Liechtenstein                       1
Saudi Arabia                        1
Moldova                             1
Nicaragua                           1
Cambodia                            1
Cyprus                              1
Cameroon                            1
Argentina                           1
Qatar                               1
Tanzania                            1
Oman                                1

In [34]:
data[data["Country/Region"] == "New Zealand"]

,_id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21
194,NaN,NaN,New Zealand,-41.728542,173.56055,0,0,0,0,0,...,2823,2829,2836,2856,2856,2863,2864,2864,2865,2868

In [36]:
data = data.drop(columns=['_id', 'Province/State'])

In [37]:
data

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21
0,Albania,41.1533,20.1683,0,0,0,0,0,0,0,...,132697,132740,132763,132797,132828,132853,132875,132891,132922,132952
1,Algeria,28.0339,1.6596,0,0,0,0,0,0,0,...,154486,155784,157005,158213,159563,160868,162155,163660,165204,167131
2,Andorra,42.5063,1.5218,0,0,0,0,0,0,0,...,14359,14379,14379,14464,14498,14498,14498,14577,14586,14586
3,Argentina,-38.4161,-63.6167,0,0,0,0,0,0,0,...,4769142,4784219,4798851,4812351,4827973,4839109,4846615,4859170,4875927,4891810
4,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,0,...,1275,1275,1275,1277,1277,1280,1280,1280,1288,1288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,United Kingdom,55.479263,-3.595208,0,0,0,0,0,0,0,...,5495947,5542635,5586716,5626745,5662838,5694462,5723399,5748331,5771732,5797445
191,Australia,-25.826731,133.410619,0,0,0,0,4,5,5,...,32120,32266,32426,32582,32753,32918,33082,33266,33473,33726
192,Netherlands,51.997394,5.27964,0,0,0,0,0,0,0,...,1835841,1842653,1849652,1855992,1862517,1867907,1872555,1876493,1880593,1884198
193,Denmark,56.013783,9.531207,0,0,0,0,0,0,0,...,307958,308788,309647,310462,311170,311935,312582,313354,313922,315223
194,New Zealand,-41.728542,173.56055,0,0,0,0,0,0,0,...,2823,2829,2836,2856,2856,2863,2864,2864,2865,2868