In [1]:
from config import user, password
from pymongo import MongoClient
import pandas as pd

url = f"mongodb+srv://{user}:{password}@bootcamp.ml0ht.mongodb.net/test"
client = MongoClient(url)
cov = client.get_database("mid_project")["covid_unprocessed"]
#cov.insert_one({"name":"Hola"})

In [2]:
covid = list(cov.find({}))
data = pd.DataFrame(data=covid)

In [55]:
data["Country/Region"].count()

279

In [3]:
data.loc[data["Country/Region"] == "Australia"]

,_id,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,7/19/21,7/20/21,7/21/21,7/22/21,7/23/21,7/24/21,7/25/21,7/26/21,7/27/21,7/28/21
0,6102d96764a7a18eace650e2,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,...,20813,20837,20865,20879,20891,20903,20914,20924,20932,20939
3,6102d96764a7a18eace650e3,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,...,1038,1046,1048,1048,1048,1048,1048,1048,1050,1051
4,6102d96764a7a18eace650dc,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,...,124,124,124,124,124,124,124,124,124,124
10,6102d96764a7a18eace650e0,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,...,838,840,846,850,851,855,856,856,857,859
13,6102d96764a7a18eace650dd,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,...,7121,7233,7357,7492,7651,7792,7943,8118,8294,8531
14,6102d96764a7a18eace650df,Queensland,Australia,-27.4698,153.0251,0,0,0,0,0,...,1761,1761,1761,1764,1763,1770,1771,1770,1790,1791
20,6102d96764a7a18eace650e1,Tasmania,Australia,-42.8821,147.3272,0,0,0,0,0,...,234,234,234,234,234,234,234,234,234,234
23,6102d96764a7a18eace650de,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,...,191,191,191,191,191,192,192,192,192,197

Puesto que la idea es mostrar la evolucion de los casos durante la pandemia del covid en los diferentes paises del mundo, no necesitamos hacer uso de la columna "Province/State", por lo que tendremos que eliminarla. El problema surge cuando existen varias entradas de los diferentes provincias en referencia a un solo pais. En estos casos, tendremos que recorrer las provincias e ir sumando los casos anotados para cada dÃ­a. Una vez hecho esto, podremos crear una nueva entrada la cual consistirÃ¡ en los casos totales para dicho pais. Esto se repite para todos aquellos paises que aparecen multiples veces en la columna "Country/Region". Una vez arreglados los datos, podremos proceder a eliminar la columna "Province/State"

In [48]:
data_australia = {}
for i in data.columns[1::]:
    data_australia[i] = '0'
# -25.826731, 133.410619
suma = 0
for i in data.loc[data["Country/Region"] == "Australia"]:
    #print(i)
    if not i in ["_id", "Province/State", "Country/Region", "Lat", "Long"]:
        suma = 0
        for z in data[i].loc[data["Country/Region"] == "Australia"]:
            suma += int(z)
        data_australia[i] = suma

data_australia['Province/State'] = "NaN"
data_australia['Country/Region'] = "Australia"
#Coordenadas de un lugar aleatorio de Australia. No se busca hacer referencia a una ciudad, sino al pais en cuestion
data_australia['Lat'] = -25.826731
data_australia['Long'] = 133.410619

In [ ]:
data

In [2]:
spain = data.loc[data['Country/Region']=="Spain"]
spain
#spain = spain.drop(columns=["_id", "Country/Region", "Lat", "Long", "Province/State"])

NameError: name 'data' is not defined

In [ ]:
v = 0
for i in spain.values:
    print(i)
    break
print(v)